@using foodApp.Models

<a href="/Product/@Product.Id" class="">
    <div class="border rounded h-100 p-3">
        <img style="height: 250px; object-fit: contain;" class="card-img-top img-fluid" src="@Product.Image"
            alt="Card image cap" />
        <div class="d-flex align-content-center align-items-center gap-2 px-3">
            <img style="width: 35px; height: 35px;" class="rounded-circle" src="@Product.Store.Logo" alt="">
            <p class="card-text m-0 p-0">@Product.Store.Name</p>
        </div>
        <div class="card-body mt-3">
            <h5 class="card-title">@Product.Name</h5>
            <p class="card-text">@Product.Brand</p>
            <p class="card-text">@Product.Ean</p>
            <p>Price: @Product.CurrentPrice</p>
            <p class="card-text">@Product.Vendor</p>
        </div>
    </div>
</a>

@code {
    [Parameter]
    public ProductData Product { get; set; }
}
